@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$primary-color: #01d277;
$secondary-color: #2e835e;
$semi-transp-white: rgba(255, 255, 255, 0.066);
$text-color: #eee;
$body-color: #202020;

$font: 'Lato', sans-serif;

$h1-font-size: clamp(1.8rem, 5vw, 3.4rem);
$h2-font-size: clamp(1.6rem, 5vw, 3rem);
$h3-font-size: clamp(1.25rem, 5vw, 2.6rem);
$h4-font-size: clamp(1rem, 4vw, 1.3rem);
$normal-font-size: clamp(1rem, 5vw, 1.1rem);

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  --- BASE ---  */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: $body-color;
}

body {
  font-family: $font;
  font-size: $normal-font-size;
  font-weight: 400;
  color: $text-color;
}

h1,
h2,
h3 {
  color: $primary-color;
  font-family: $font;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
  font-weight: 500;
}

h4 {
  font-size: $h4-font-size;
  font-weight: 500;
}

h5 {
  font-size: clamp(1rem, 4vw, 1.2rem);
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $text-color;
  transition: 0.3s;

  &:hover {
    color: $primary-color;
  }
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

/*  --- BUTTONS ---  */
.btn {
  display: inline-block;
  background-color: $primary-color;
  color: #fff;
  padding: clamp(0.75rem, 5vw, 1rem) clamp(1.25rem, 5vw, 2rem);
  font-family: $font;
  font-size: $normal-font-size;
  font-weight: 500;
  border: 2px solid $primary-color;
  border-radius: 0.5rem;
  transition: 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: $primary-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &-outline {
    background-color: transparent;
    color: $primary-color;
    border: 2px solid $primary-color;

    &:hover,
    &:focus {
      background-color: $primary-color;
      color: #fff;
    }
  }

  i {
    margin-right: 0.5rem;
  }
}

/*   --- Reuseable CSS Classes ---   */
.container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;

  @media (max-width: 1315px) {
    padding: 0 1.5rem;
  }
}
