// Header
header {
  .container {
    @include flex-center;
    flex-direction: column;
    padding: 3.2rem;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      @media (max-width: 500px) {
        gap: 1rem;
      }

      img {
        border-radius: 5px;
        width: 120px;

        @media (max-width: 500px) {
          width: 80px;
        }
      }
    }

    .search-input {
      width: 80vw;
      max-width: 520px;
      height: 50px;
      background: $semi-transp-white;
      border-radius: 2rem;
      margin-top: 2.8rem;
      padding: 0.5rem 1rem;
      font-size: $normal-font-size;
      color: $primary-color;

      @media (max-width: 500px) {
        height: 40px;
      }

      input {
        width: 88%;
        height: 100%;
        background: transparent;
        font-size: clamp(1rem, 4vw, 1.4rem);
        color: #fff;
        margin-left: 0.5rem;
      }

      #cancel-search {
        cursor: pointer;
        font-size: 1.4rem;
        display: none;
      }
    }
  }
}
